<div class="timer-row">
    <countdown [buttonName]="buttonName"></countdown>
    <button class="btn btn-light" (click)="buttonClick(isPause ? BUTTON.PAUSE : BUTTON.CONTINUE)">{{isPause ? BUTTON.PAUSE : BUTTON.CONTINUE}}</button>
</div>
<div class="buttons-row">
    <button class="btn btn-primary" (click)="buttonClick(BUTTON.X1)">{{BUTTON.X1}}</button>
    <button class="btn btn-primary" (click)="buttonClick(BUTTON.X1_5)">{{BUTTON.X1_5}}</button>
    <button class="btn btn-primary" (click)="buttonClick(BUTTON.X2)">{{BUTTON.X2}}</button>
</div>

